<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>Oikodomos</title>
    <link rel = "stylesheet" href="/styles/main.css">
</head>

<body>
    <header>
        <nav class="nav">
            <h1><a href="#">Oikodomos</a></h1>
            <ul>
                <li><a href="#login">Login</a></li>
                <li><a href="#register">Register</a></li>
                <li><a href="#products">Products</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id = "products" class="grid-wrapper">
            <!-- <h2>Products</h2> -->
            <div class = "card">
               <!--product_id, name, price, description, category, url, environment--> 
                <% if (product) { %>
                    <%   %>
                        <article>
                            <h3><%= product.name %></h3>
                            <p><%= product.price %></p>
                            <p><%= product.description %></p>
                            <p><%= product.category %></p>
                            <a href="/products">Back to products</a>
                        </article>

                   <%  %>
                   <% } else { %>
                        <p>Extension not available</p>
                  <%  } %>

                    
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2026 Oikodomos</p>
    </footer>
    
</body>
</html>